/* --------------------------------------------------------------------------------
Grid
-------------------------------------------------------------------------------- */
.inner-container {
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 300px;
  border-style: solid;
  border-width: 1px;
}

.landing-btns {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
.register-btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-right: 100px;
  margin-bottom: 10px;
  width: 200px;
  background-color: #3395ef;
  color: #f8f8f8;
  text-align: center;
}

