.difficulty-image {
    width: 50px;
}



.indv-run-block {
    /* border-style: solid;
    border-width: 1px; */
    border-radius: 10px;
    height: 100px;
    width: 328px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
    /* display: flex; */
    
}

.indv-run-btn {
    float: right;
}

.inner-block {
    display: flex;
}

.inner-text {
    /* text-align: center; */
    /* display: flex; */
}

.run-list {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #eeeeee;
    
}

