/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */
.indv-run-btn {
    padding: 5px 10px;
    border-color: #014041;
    border-width: 1px 1px 3px;
    border-radius: 4px;
    background-color: #3395ef;
    color: #f8f8f8;
    font-size: 1.0rem;
    outline: 0;
    cursor: pointer;
    float: right;
    
    
  }


.difficulty-image {
    width: 50px;
}

h2 {
    padding: 15px;
}

h3 {
    padding: 15px; 
}

.indv-run-block {
    /* border-style: solid;
    border-width: 1px; */
    border-radius: 10px;
    height: 100px;
    width: 328px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
    /* display: flex; */
    
}



.inner-block {
    display: flex;
}

.inner-text {
    /* text-align: center; */
    /* display: flex; */
}

.run-list {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #eeeeee;
    
}

